/*.rowTopNumber1 {
  padding: 20px;
  text-align: center;
  border: 1px solid grey;
}*/
/*
.rowTopNumber2 {
  padding: 20px;
  text-align: center;
  border: 1px solid grey;
}

.rowTopNumber3 {
  padding: 20px;
  text-align: center;
  border: 1px solid grey;
}

.rowTopNumber4 {
  padding: 20px;
  text-align: center;
  border: 1px solid grey;
}*/

/*.chartBox {
  padding: 10px;
  margin-left: 0px;
  text-align: center;
  border: 1px solid grey;
}*/
/*
#chart1 {
  height: 400px;
  width: 500px;
}*/